<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="com.example.firstapplication.MSE712"
        android:description="@string/permission_MSE712_description"
        android:icon="@drawable/android_logo"
        android:label="@string/permission_MSE712_label"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="com.example.firstapplication.MSE712" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApplication"
        tools:targetApi="31">
        <activity
            android:name=".ImageActivity"
            android:exported="false"
            android:label="@string/title_activity_image"
            android:theme="@style/Theme.FirstApplication" />
        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.FirstApplication">
            <intent-filter>
                <action android:name="android.intent.action.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.FirstApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>